#!/bin/bash
# template for computing mesons with chroma 

#SBATCH --nodes={{ meson_slurm_nodes }}
#SBATCH --partition=dc-gpu
#SBATCH --gpu-bind=none
#SBATCH --account=exotichadrons
#SBATCH -t {{ meson_chroma_minutes }}
#SBATCH --gres=gpu:4
#SBATCH -o {{ run_path }}/chroma_out/meson{{ cfg_id }}.out
#SBATCH -e {{ run_path }}/chroma_out/meson{{ cfg_id }}.err

export USERINSTALLATIONS=/p/project1/cslnpp/slnpp032/QCD/JUWELS_BOOSTER_EASYBUILD/TEST_INSTALL/

ml GCC
ml ParaStationMPI
ml CHROMA
vers=jwb_pmpi

chroma=${EBROOTCHROMA}/bin/chroma

eigs={{ run_path }}/eigs_sdb/eigs_numvecs{{ num_vecs }}_cfg{{ cfg_id }}.sdb
{
if [ ! -f "${eigs}" ]; then
  echo "matching distillation basis not found, exiting"
  exit 0
fi 
}

export OPENBLAS_NUM_THREADS=16
export OMP_NUM_THREADS=16
export CUDA_VISIBLE_DEVICES=0,1,2,3

BASE_DIR={{ run_path }}
if [ ! -d "$BASE_DIR/res/log/meson" ]; then
  mkdir -p "$BASE_DIR/res/log/meson";
fi 
if [ ! -d "$BASE_DIR/res/out/meson" ]; then
  mkdir -p "$BASE_DIR/res/out/meson";
fi 

log=$BASE_DIR/res/log/meson/meson_{{ meson_nvec }}_cfg{{ cfg_id }}.log
in=$BASE_DIR/ini-meson/cnfg{{ cfg_id }}/meson_cfg{{ cfg_id }}.ini.xml
out=$BASE_DIR/res/out/meson/meson_{{ meson_nvec }}_cfg{{ cfg_id }}.out.xml
output="$BASE_DIR/chroma_out/meson_{{ meson_nvec }}_cfg{{ cfg_id }}.out"

export OPTS=" -geom {{ meson_chroma_geometry|join(' ') }}"
echo "START  "$(date "+%Y-%m-%dT%H:%M")
{% set num_tasks = meson_slurm_nodes * 4 %}
srun -n {{ num_tasks }} -c 16 $chroma $OPTS -i $in -o $out -l $log > $output 2>&1
echo "FINISH JOB "$(date "+%Y-%m-%dT%H:%M")
