#!/bin/bash
# template for computing charmed perambulators with chroma 

#SBATCH --nodes={{ prop_slurm_nodes }}
#SBATCH --partition=dc-gpu
#SBATCH --gpu-bind=none
#SBATCH --account=exotichadrons
#SBATCH -t {{ prop_chroma_minutes }}
#SBATCH --gres=gpu:{{ prop_num_gpu }}

peram_file={{ run_path }}/perams_charm_sdb/numvec{{ num_vecs_perams }}/peram_charm-{{ num_vecs_perams }}_cfg{{ cfg_id }}.sdb
# Check if the file exists and delete it if it does
if [ -f "$peram_file" ]; then
    echo "File $peram_file exists. Deleting it."
    rm "$peram_file"
else
    echo "File $peram_file has not been generated yet. Continuing..."
fi

export OPENBLAS_NUM_THREADS=16
export OMP_NUM_THREADS=16
export CUDA_VISIBLE_DEVICES=0,1,2,3
export QUDA_ENABLE_GDR=1
export CUDA_DEVICE_MAX_CONNECTIONS=1
export GPUDIRECT='-gpudirect'

CODE_DIR={{ code_dir }}
myenv=$CODE_DIR/env-new-jureca-gpu.sh
formenv=$CODE_DIR/env_extra.sh
source $myenv 
source $formenv
chroma=$CODE_DIR/install/chroma-quda-qdp-jit-double-nd4-cmake-superbblas-cuda/bin/chroma


BASE_DIR={{ run_path }}
if [ ! -d "$BASE_DIR/res/log/perams_charm" ]; then
  mkdir -p "$BASE_DIR/res/log/perams_charm";
fi 
if [ ! -d "$BASE_DIR/res/out/perams_charm" ]; then
  mkdir -p "$BASE_DIR/res/out/perams_charm";
fi 

log=$BASE_DIR/res/log/perams_charm/perams_{{ cfg_id }}_numvecs-{{ num_vecs_perams }}.log
in=$BASE_DIR/ini-peram_charm_clover/cnfg{{ cfg_id }}/numvec{{ num_vecs_perams }}/peram_charm_clover_{{ num_vecs_perams }}_cfg{{ cfg_id }}.ini.xml
out=$BASE_DIR/res/out/perams_charm/perams_{{ cfg_id }}_numvecs-{{ num_vecs_perams }}.out.xml
stdout="$BASE_DIR/chroma_out/perams_charm_{{ cfg_id }}_numvecs-{{ num_vecs_perams }}.out"

export OPTS=" -geom {{ prop_chroma_geometry | join(' ') }}"
echo "START  "$(date "+%Y-%m-%dT%H:%M")
srun -n {{ prop_slurm_nodes * prop_num_gpu }} -c 16 $chroma $OPTS -i $in -o $out -l $log > $stdout 2>&1
echo "FINISH JOB "$(date "+%Y-%m-%dT%H:%M")
