#!/bin/bash
# template for computing charmed perambulators with chroma 

#SBATCH --nodes={{ prop_slurm_nodes }}
#SBATCH --ntasks-per-node={{ prop_tasks_nodes }}
#SBATCH --partition=dc-gpu
#SBATCH --gpu-bind=none
#SBATCH --account=exotichadrons
#SBATCH -t {{ prop_chroma_minutes }}
#SBATCH --gres=gpu:4
#SBATCH -o {{ run_path }}/chroma_out/peram_charm{{ cfg_id }}.out
#SBATCH -e {{ run_path }}/chroma_out/peram_charm{{ cfg_id }}.err

export USERINSTALLATIONS=/p/project1/cslnpp/slnpp032/QCD/JUWELS_BOOSTER_EASYBUILD/TEST_INSTALL/

ml GCC
ml ParaStationMPI/5.10.0-1
ml CHROMA
vers=jwb_pmpi

chroma=${EBROOTCHROMA}/bin/chroma

# check that matching eigs sdb file exists first 
eigs={{ run_path }}/eigs_sdb/eigs_numvecs{{ num_vecs }}_cfg{{ cfg_id }}.sdb
{
if [ ! -f "${eigs}" ]; then
  echo "matching distillation basis not found, exiting"
  exit 0
fi 
}

export OPENBLAS_NUM_THREADS=16
export OMP_NUM_THREADS=16
export CUDA_VISIBLE_DEVICES=0,1,2,3


BASE_DIR={{ run_path }}
if [ ! -d "$BASE_DIR/res/log/perams-charm" ]; then
  mkdir -p "$BASE_DIR/res/log/perams-charm";
fi 
if [ ! -d "$BASE_DIR/res/out/perams-charm" ]; then
  mkdir -p "$BASE_DIR/res/out/perams-charm";
fi 
log=$BASE_DIR/res/log/perams-charm/peram-charms_{{ cfg_id }}_numvecs-{{ num_vecs_perams }}.log
in=$BASE_DIR/ini-perams-charm/cnfg{{ cfg_id }}/numvec{{ num_vecs_perams }}/peram_charm_mg_{{ num_vecs_perams }}_cfg{{ cfg_id }}.ini.xml
out=$BASE_DIR/res/out/perams-charm/perams_charm{{ cfg_id }}_numvecs-{{ num_vecs_perams }}.out.xml
stdout="$BASE_DIR/chroma_out/perams_charm_{{ cfg_id }}_numvecs-{{ num_vecs_perams }}.out"

export OPTS=" -geom {{ prop_chroma_geometry|join(' ') }}"
echo "START  "$(date "+%Y-%m-%dT%H:%M")
srun -n 8 -c 16 $chroma $OPTS -i $in -o $out -l $log > $stdout 2>&1
echo "FINISH JOB "$(date "+%Y-%m-%dT%H:%M")
