#!/bin/bash
# template for computing perambulators with chroma 

#SBATCH --nodes={{ prop_slurm_nodes }}
#SBATCH --partition=dc-gpu
#SBATCH --account=exotichadrons
#SBATCH -t {{ prop_chroma_minutes }}
#SBATCH --gres=gpu:4
#SBATCH -o {{ run_path }}/chroma_out/peram_charm{{ cfg_id }}.out
#SBATCH -e {{ run_path }}/chroma_out/peram_charm{{ cfg_id }}.err

export USERINSTALLATIONS=/p/project1/cslnpp/slnpp032/QCD/JUWELS_BOOSTER_EASYBUILD/TEST_INSTALL/
ml Stages/2025
ml GCC/13.3.0
ml ParaStationMPI/5.10.0-1
ml UCX-settings/RC-CUDA
ml MPI-settings/CUDA
ml CHROMA

vers=jwb_pmpi

chroma=${EBROOTCHROMA}/bin/chroma

# check that matching eigs sdb file exists first 
eigs={{ run_path }}/eigs_sdb/eigs_numvecs{{ num_vecs }}_cfg{{ cfg_id }}.sdb
{
if [ ! -f "${eigs}" ]; then
  echo "matching distillation basis not found, exiting"
  exit 0
fi 
}

export OPENBLAS_NUM_THREADS=16
export OMP_NUM_THREADS=16
export CUDA_VISIBLE_DEVICES=0,1,2,3

export QUDA_ENABLE_GDR=1
export QUDA_ENABLE_DEVICE_MEMORY_POOL=0
export CUDA_DEVICE_MAX_CONNECTIONS=1

BASE_DIR={{ run_path }}
if [ ! -d "$BASE_DIR/res/log/perams-charm" ]; then
  mkdir -p "$BASE_DIR/res/log/perams-charm";
fi 
if [ ! -d "$BASE_DIR/res/out/perams-charm" ]; then
  mkdir -p "$BASE_DIR/res/out/perams-charm";
fi 
log=$BASE_DIR/res/log/perams-charm/perams_charm_{{ cfg_id }}_numvecs-{{ num_vecs_perams }}.log
in=$BASE_DIR/ini-perams-charm/cnfg{{ cfg_id }}/peram_charm_mg_cfg{{ cfg_id }}.ini.xml
out=$BASE_DIR/res/out/perams-charm/perams_charm_{{ cfg_id }}_numvecs-{{ num_vecs_perams }}.out.xml
stdout="$BASE_DIR/chroma_out/perams_charm_{{ cfg_id }}_numvecs-{{ num_vecs_perams }}.out"

export OPTS=" -geom {{ prop_chroma_geometry|join(' ') }}"
echo "START  "$(date "+%Y-%m-%dT%H:%M")
{% set num_tasks = prop_slurm_nodes * 4 %}
srun -n {{ num_tasks }} -c 16 $chroma $OPTS -gpudirect -i $in -o $out -l $log > $stdout 2>&1
echo "FINISH JOB "$(date "+%Y-%m-%dT%H:%M")
